<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  {% load static %}
  <link rel=icon href="{% static 'icons/favicon.ico' %}">
  <title>vue_front</title>
  <link href="{% static 'css/app.6cac6792.css' %}" rel=preload as=style>
  <link href="{% static 'css/chunk-vendors.998df6e6.css' %}" rel=preload as=style>
  <link href="{% static 'js/app.b3530b13.js' %}" rel=preload as=script>
  <link href="{% static 'js/chunk-vendors.d55672df.js' %}" rel=preload as=script>
  <link href="{% static 'css/chunk-vendors.998df6e6.css' %}" rel=stylesheet>
  <link href="{% static 'css/app.6cac6792.css' %}" rel=stylesheet>
</head>

<body>
  <noscript><strong>We're sorry but vue_front doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong></noscript>
  <div id=app></div>
  <script src="{% static 'js/chunk-vendors.d55672df.js' %}"> </script>
  <script src="{% static 'js/app.b3530b13.js' %}"> </script>
</body>

</html>